{{package.name}}
======

[![npm version](https://img.shields.io/npm/v/{{package.name}}?style=flat-square)](https://www.npmjs.com/package/{{package.name}})
[![commitizen friendly](https://img.shields.io/badge/commitizen-friendly-brightgreen.svg?style=flat-square)](https://commitizen.github.io/cz-cli/)
[![styled with prettier](https://img.shields.io/badge/styled_with-prettier-ff69b4.svg?style=flat-square)](https://github.com/prettier/prettier)
![Libraries.io dependency status for latest release, scoped npm package](https://img.shields.io/librariesio/release/npm/{{package.name}})
![npm](https://img.shields.io/npm/dm/{{package.name}})
![NPM](https://img.shields.io/npm/l/{{package.name}})

> {{package.description}}

- [Installation](#installation)
{{#if getstarted ~}}
- [Get started](#get-started)
{{/if}}
{{#if guides ~}}
- [Guides](#guides)
{{/if}}
{{#if hasSchematics ~}}
- [Schematics](#schematics)
{{/if}}

# Installation

{{#if collection.schematics.ng-add ~}}
```
ng add {{package.name}}
```

*{{collection.schematics.ng-add.description}}*

{{else}}
```
yarn add {{package.name}}{{#each rxapDependencies}} {{@key}}@{{this}}{{/each}}
```

{{/if}}
{{#if getstarted ~}}
# Get started

{{{getstarted}}}

{{/if}}
{{#if guides ~}}
# Guides

{{{guides}}}

{{/if}}
{{#if hasSchematics ~}}
# Schematics

{{#each collection.schematics}}
  ## {{@key}}
  > {{this.description}}

  ```
  ng g {{this.name}}:{{@key}}
  ```

  Option | Type | Default | Description
  --- | --- | --- | ---
  {{#each this.schema.properties}}
    {{@key}} | {{this.type}} | {{this.default}} | {{this.description}}
  {{/each}}

  {{#if this.schema.required}}
    | Required |
    | --- |
    {{#each this.schema.required}}
      | {{this}} |
    {{/each}}
  {{/if}}

{{/each}}
{{/if}}
